.cards {
	display:flex;
	justify-content:space-around;
	margin:auto;
	max-width:60rem;
	padding-top:90px;
	
}
.card {
	width:30%;
	background:rgba(255,255,255,0.7);
	
	&__img {
		border:.3rem solid #fff;
		border-radius:50%;		
		display:block;
		height:180px;		
		margin:0 auto -90px auto;
		position:relative;
		top:-90px;
		width:180px;

	}
	
	&__title {
		color: $orange8;
		text-align:center;
		
	}
	
	&__text {
		text-align:center;
		margin:0 1.2rem 2rem;
	}
}